body
{
    background-color: darkgrey;
    font-family: 'Roboto', sans-serif;
}

.Login-box
{
    width: 200px;
    height: 225px;
    background-color: white;
    margin: auto;
    border-radius: 5px;
}

h1
{
    text-align: center;
}

form
{
    text-align: center;
}